.vagrant
bin/*
.bundle/*
.kitchen/
.kitchen.local.yml
.kitchen.*.local.yml
kitchen.local.yml
kitchen.*.local.yml
**/nodes/*.json
.tmp/
.env
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
Gemfile.lock
gems.locked
bin/*
.bundle/*
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
**/.terraform/*
*.tfstate
*.tfstate.*
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/local-mode-cache
chef_guid